
common:
  platform_dns_name: "papa.home"
  platform_ip: "192.168.1.96"
  pool_storage: "/scratch"

#network:
#  name: jenkins_network
#  type: nat
#  cidr: "172.32.0.0/24"

#Defines the storage pools
#The 'location' is relative to some operator provided absolute directory path
pools:
  - name: office_isos
    type: dir
    location: office_isos
    description: Storage for all local ISOs used during the deployment
  - name: office_images
    type: dir
    location: office_images
    description: Storage for all images tied to a VM/domain
  - name: office_misc
    type: dir
    location: office_misc
    description: Storage for miscellaneous images
  - name: office_backup
    type: dir
    location: office_backup
    description: Storage for the backup of images

#The size is in Gigabytes
backup_pool:
  name: office_backup
  path: /scratch/office_backup-pool
  size: 20
  description: Storage for the backup of images

precious_domains:
  - ansible
  - jenkins

core_vms:
  - ansible:
    hostname: ansible
    precious: yes

  - vault:
    hostname: vault
    precious: yes

  - jenkins:
    hostname: jenkins
    precious: yes

  - jenkins_agent:
    - name: agent_1
    - hostname: agent_1
      precious: yes
    - name: agent_2
    - hostname: agent_2
      precious: yes
#  
#- path: /instance_groups/name=jumpbox/jobs/-
#  type: replace
#  value:
#    name: pre-start-script
#    release: os-conf
#    properties:
#      script: |-
#               #!/bin/bash
#               hostname ((internal_tag_name))
#
