
common:
  platform_dns_name: "papa.home"
  platform_ip: "192.168.1.96"
  pool_storage: "/scratch"
  iso_storage: "/Users/jean/Scratch/"

#network:
#  name: jenkins_network
#  type: nat
#  cidr: "172.32.0.0/24"

#Defines the storage pools
#The 'location' is relative to some operator provided absolute directory path
#pools:
#  - name: office-isos
#    type: dir
#    location: office-isos
#    description: Storage for all local ISOs used during the deployment
#  - name: office-vm-images
#    type: dir
#    location: office-images
#    description: Storage for all images tied to a VM/domain
#  - name: office-misc
##    type: dir
#    location: office_misc
#    description: Storage for miscellaneous images

#The size is in Gigabytes
backup_pool:
  name: office_backup
  path: /scratch/office_backup-pool
  size: 20
  description: Storage for the backup of images

precious_domains:
  - ansible
  - jenkins

core_vms:
  - ansible:
    hostname: ansible
    precious: yes

  - vault:
    hostname: vault
    precious: yes

  - jenkins:
    hostname: jenkins
    precious: yes

  - jenkins_agent:
    - name: agent_1
    - hostname: agent_1
      precious: yes
    - name: agent_2
    - hostname: agent_2
      precious: yes

# A VM is 'precious' if it difficult to recreate.  We would therefore prefer
# to have a backup.  For example all TKL VMs are based on ISOs, hence
# automating their construction is difficult.  Such VMs are deemed 'precious'.
# The sizes of memory and disk is specified in Gibabytes.
all_vms :
  - name    : "vault"
    sof_mem : 1
    sof_disk: 2
    image   : "alpine"
    network : "control"
    user_data : "vault-user-data.yaml.tpl"
    precious: yes
    enabled:  no

  - name    : "jumpbox"
    sof_mem : 1
    sof_disk: 2
    image   : "alpine"
    network : "control"
    user_data : "user-data.yaml.tpl"
    precious: yes
    enabled:  no

  - name    : "nginx"
    sof_mem : 1
    sof_disk: 2
    image   : "alpine"
    network : "control"
    user_data : "user-data.yaml.tpl"
    precious: yes
    enabled:  no

  - name    : "jenkins"
    sof_mem : 1
    sof_disk: 2
    image   : "jenkins"
    network : "control"
    user_data : "user-data.yaml.tpl"
    precious: yes
    enabled:  no

  - name    : "ansible"
    sof_mem : 1
    sof_disk: 2
    image   : "ansible"
    network : "control"
    user_data : "ansible-user-data.yaml.tpl"
    precious: yes
    enabled:  no

isos: 
  - name   : "jenkins"
    mirror : "http://mirror.turnkeylinux.org/turnkeylinux/"
    image  : "images/proxmox/debian-12-turnkey-jenkins_18.1-1_amd64.tar.gz"
    hash   : "images/proxmox/debian-12-turnkey-jenkins_18.1-1_amd64.tar.gz.hash"

    #url : "https://www.turnkeylinux.org/download?file=turnkey-jenkins-18.1-bookworm-amd64.iso"
    #url : "http://mirror.turnkeylinux.org/turnkeylinux/images/iso/turnkey-jenkins-18.1-bookworm-amd64.iso"
    #url : "file:///scratch/turnkey-jenkins-18.1-bookworm-amd64.iso"
    #url : "${var.iso_storage}turnkey-jenkins-18.1-bookworm-amd64.iso"

  - name   : "ansible"
    mirror : "http://mirror.turnkeylinux.org/turnkeylinux/"
    image  : "images/proxmox/debian-12-turnkey-ansible_18.0-1_amd64.tar.gz"
    hash   : "images/proxmox/debian-12-turnkey-ansible_18.0-1_amd64.tar.gz.hash"
    #url : "/Users/jean/Scratch/turnkey-ansible-18.0-bookworm-amd64.iso"
    #url : "https://www.turnkeylinux.org/download?file=turnkey-ansible-18.0-bookworm-amd64.iso"
    #url : "http://mirror.turnkeylinux.org/turnkeylinux/images/iso/turnkey-ansible-18.0-bookworm-amd64.iso"
    #url : "file:///scratch/turnkey-ansible-18.0-bookworm-amd64.iso"
    #url : "${var.iso_storage}/turnkey-ansible-18.0-bookworm-amd64.iso"

