
common:
  platform_dns_name: "papa.home"
  platform_ip: "192.168.1.96"

#network:
#  name: jenkins_network
#  type: nat
#  cidr: "172.32.0.0/24"

#Defines the storage pools
#The 'location' is relative to some operator provided absolute directory path
pools:
  - name: office_isos
    type: dir
    location: office_isos
    description: Storage for all local ISOs used during the deployment
  - name: office_images
    type: dir
    location: office_images
    description: Storage for all images tied to a VM/domain
  - name: office_misc
    type: dir
    location: office_misc
    description: Storage for miscellaneous images
  - name: office_backup
    type: dir
    location: office_backup
    description: Storage for the backup of images

backup_pool:
  name: office-backup

precious_domains:
  - ansible
  - foobar

core_vms:
  - ansible:
    hostname: ansible

  - vault:
    hostname: vault

  - jenkins:
    hostname: jenkins

  - jenkins_agent:
    - name: agent_1
    - name: agent_2
#  
#- path: /instance_groups/name=jumpbox/jobs/-
#  type: replace
#  value:
#    name: pre-start-script
#    release: os-conf
#    properties:
#      script: |-
#               #!/bin/bash
#               hostname ((internal_tag_name))
#
